<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form>
        <input type="input" id="searchMsgContent" name="searchMsgContent" placeholder="Search message's content...">
    </form>
    <script rel="text/javascript">
        (function(){
            document.getElementById('searchMsgContent').addEventListener('keydown', function(){
                // EVENT keyUp or Down / CHECK IF CHANGED -> STOCK IN VAR PREC VALUE AND COMPARE

                // AJAX TO API
            });
        })()
    </script>
</body>
</html>